@import "config.scss";

.title {
  &__label {
    @include avenirnextdemi();
    margin-bottom: 8px;
  }

  &__subtitle {
    color: $ams-donkerantraciet;
    font-size: 14px;
    margin-bottom: 4px;
  }

  &--not-required {
    @include avenirnext();
    margin-left: 8px;
  }
}
