@import '~amsterdam-stijl/dist/scss/ams-colorpalette';

.filter-component {
  padding: 0;

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__body {
    border-top: 1px solid black;
    padding-top: 5px;
  }
}
