@import "config.scss";

.location {

  dl {
    margin: 0;
  }

  &__definition {
    font-weight: normal;
    width: 25%;
    display: inline-block;
    color: $ams-donkergrijs;
  }

  &__value{
    width: 75%;
    display: inline-block;


    &-button-edit {
      float: right;
    }

    &-address {
      width: 75%;
    }
  }

  &__definition, &__value {
    margin: 0;
    vertical-align: top;
    padding: 9px 0;
  }
}
