@import "config.scss";

.split-detail {
  &__definition {
    @include avenirnext();
    font-weight: normal;
    color: $ams-donkergrijs !important;
    margin-bottom: 5px;
  }

  &__value {
    margin-bottom: 16px;
  }
}
