// card styling
// a card is an area with a border and the title set with a background
.card {
  border: 1px solid $ams-lichtgrijs;

  .grid-title {
    background-color: $ams-top-menu;
  }

  *[class*="col"]:not(.grid-title) {
    padding-top: .75rem;
    padding-bottom: .75rem;

    &:hover {
      background-color: $ams-top-menu;
    }
  }

  &.break-out-card {
    border-left: none;
    border-right: none;
    border-bottom: none;
    > *:not(.grid-title) {
      margin-left: -1rem;
      &:hover {
        background-color: $ams-top-menu;
      }
    }
  }
}
