.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $ams-backdrop;
  z-index: 8888;

  .progress-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem;
    background-color: $ams-wit;
    z-index: 99999;
    text-align: center;
  }
}