table {
  text-align: left;
  border-collapse: collapse;

  tr {
    padding: .5rem;

    &:hover {
      background-color: $ams-top-menu;
      td {
        box-shadow: 0 1px 0 1px $ams-top-menu;
      }
    }
  }

  td, th {
    padding: .5rem;
  }

  thead {
    tr {
      &:hover {
        background: inherit;
      }
    }

    th {
      border-top: 1px solid $ams-zwart;
      border-bottom: 1px solid $ams-zwart;
    }
  }

  td {
    border-bottom: 1px solid $ams-middengrijs;
    box-shadow: 0 1px 0 1px $ams-wit;
  }
}