@import "config.scss";

.detail-tabs {
  margin-top: 10px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0 18px 0 0;
  }

  &__tab {
    @include avenirnextdemi();
    display: inline-block;
    color: $ams-zwart;
    font-size: 17px;
    padding: 10px 0 12px 0;

    &--selected {
      color: red;
      border-bottom: 3px solid $ams-rood;
    }
  }
}
