@import "config.scss";

.location {
  dl {
    margin: 0;
  }

  &__definition {
    width: 25%;
    display: inline-block;
    color: $ams-donkergrijs;
  }

  &__value{
    width: 75%;
    display: inline-block;

    &-button-show {
      float: left;
      margin-right: 10px;
      padding: 0;
      border-style: none;
      cursor: pointer;
    }

    #mapdiv {
      height: 100px !important;
      width: 100px;
    }

    &-button-edit {
      float: right;
      padding: 0;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    &-address {
      width: 75%;
    }
  }

  &__definition, &__value {
    margin: 0;
    vertical-align: top;
    padding: 9px 0;
  }

  &--highlight {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $ams-geel;
      animation: highlight-fade-out 2.5s;
    }
  }
}
