.pager {
  margin-top: 50px;

  a,
  span {
    display: inline-block;
    line-height: 22px;
  }

  a {
    color: $color-black;
    text-decoration: none;

    &:hover {
      color: $color-red;
    }
  }

  .pager_step { // sass-lint:disable-line class-name-format
    margin: 0 5px;
    padding: 0 8px;
  }

  .huidige {
    background-color: $color-darkgrey;
    color: $color-white;
    font-weight: 400;
  }

  .vorige,
  .volgende {
    background-repeat: no-repeat;
    background-size: 10px;
    color: $color-black;
    font-family: $avenirnextdemi;
    text-decoration: none;

    &:hover {
      color: $color-red;
    }
  }

  .vorige {
    @extend %icon-caret-left-black;
    background-position: left 4px;
    padding-left: 20px;

    &:hover {
      @extend %icon-caret-left-red;
    }
  }

  .volgende {
    @extend %icon-caret-right-black;
    background-position: right 4px;
    padding-right: 20px;

    &:hover {
      @extend %icon-caret-right-red;
    }
  }
}
