.dashboard {
  position: relative;
  min-height: 800px;

  .select-input {
    position: absolute;
    top: 17px;
    right: 0;
    width: auto;

    select {
      width: 240px;
    }
  }

  .dashboard-charts {
    display: flex;
    flex-wrap: wrap;

    .status-chart {
      width: 400px;
      flex-grow: 1;
    }

    .category-chart {
      width: 582px;
      flex-grow: 1;
    }

    .today-chart {
      width: 300px;
      flex-grow: 1;
    }

    .hour-chart {
      width: 582px;
      flex-grow: 1;
    }
  }
}
