@import "config.scss";

.add-note {
  &__form {
    &-input {
      display: inline-block;
      width: 70%;
    }

    button {
      margin-top: -5px !important;
    }

    &-submit {
      &:disabled {
        color: #B4B4B4 !important;
        background-color: #E6E6E6 !important;
      }
    }

    &-cancel {
      color: $ams-wit !important;
      background-color: $ams-antraciet !important;
    }
  }

  &__show-form {
    margin-left: 0 !important;
  }
}
