.link-functional {
  @extend %functional-link;

  &.delete {
    background-image: url("#{$core-svg-path}functional/functional-delete.svg");
  }

  &.copy {
    background-image: url("#{$core-svg-path}functional/functional-copy.svg");
  }

  &.portfolio {
    background-image: url("#{$core-svg-path}functional/functional-portfolio.svg");
  }

  &.edit {
    background-image: url("#{$core-svg-path}functional/functional-edit.svg");
  }
}
