.letterrij {
  .letter {
    float: left;
    font-weight: normal;
    height: 17px;
    line-height: 17px;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 17px;

    a {
      color: $color-red;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $color-black;
      }
    }

    &.seltab {
      background-color: $color-red;
      color: $color-white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
