version: '3.5'
services:
  web-container: # NGINX
    build:
      args:
        - BUILD_ENV=acc
      context: .
    environment:
      - TZ=Europe/Amsterdam
    ipc: host
    ports:
      - "3001:80"
  
  lint-container:
    build:
      cache_from:
        - docker-registry.data.amsterdam.nl/ois/signalsfrontend-base:acceptance
      context: .
      target: base
    environment:
      - CI=true
      - TZ=Europe/Amsterdam
    command: npm run lint

  unittest-container:
    build:
      cache_from:
        - docker-registry.data.amsterdam.nl/ois/signalsfrontend-base:acceptance
      context: .
      target: base
    environment:
      - CI=true
      - TZ=Europe/Amsterdam
    command: npm run test
