version: '3.5'
services:
  signals-web: # NGINX
    build:
      args:
        - BUILD_ENV=acc
      context: .
    ipc: host
    ports:
      - "3001:80"
  # networks_mode: "host"

  test-unit-integration:
    build:
      context: .
      target: builder
    environment:
      - NODE_ENV=development
    command: more /etc/paswd
