.search-large form,
fieldset.search-large {
  label {
    @include visuallyhidden;
  }

  .checkbox {
    clear: both;
    margin-bottom: 0;
    padding-top: 20px;

    label {
      @include visually;
    }
  }

  .checkbox + .checkbox {
    padding-top: 0;
  }

  input[type="text"] {
    @extend %regular-input-normal;
    @include avenirnextdemi;
    @include font-size(20);
    @include placeholder($color: $color-text-darkgrey);
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    background-color: $color-white;
    border: 0 !important;
    border-radius: 0;
    float: left;
    height: $rowheight;
    margin-right: 16px;
    max-height: $rowheight;
    max-width: calc(620px - 2px - 22px - 16px - #{$rowheight});
    padding: 9px 11px !important;
    width: calc(100% - 2px - 22px - 16px - #{$rowheight});

    &:focus {
      @extend %regular-input-focus;
      outline: 0;
    }

    @media screen and (max-width: $grid-mq-medium) {
      max-width: calc(620px - 2px - 22px - 16px - #{$rowheight});
    }
  }

  button,
  input[type="submit"],
  input[type="image"] {
    @include getsprite(2, 2, 50px, "#{$core-sprites-path}sprite-assets.png", 10px, 10px);
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    background-color: $color-red;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    direction: ltr;
    float: left;
    height: $rowheight;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: $rowheight;
  }

  &.gsc-search-box {
    table,
    tbody,
    tr,
    td {
      display: inline;
    }
  }
}

.search-large {
  margin-bottom: 20px;

  .resultaten {
    list-style: none;
    margin-left: 12px;
    margin-top: 20px;

    .blok-titel {
      padding-left: 17px;

      &::before {
        color: $color-darkgrey;
        content: "\25A0";
        display: block;
        left: -16px;
        max-height: 0;
        max-width: 0;
        position: relative;
        top: -2px;
      }
    }
  }

  .show-searchtags {
    clear: both;
    display: block;
    font-size: .875em;
    padding-top: 16px;

    a {
      color: $color-darkblue;

      &:hover,
      &:focus {
        color: $color-red;
      }
    }
  }
}

.header-wrapper {
  .search-large {
    margin: 0 auto;
    max-width: 620px;

    @media screen and (max-width: $grid-mq-medium) {
      max-width: 560px;
    }
  }
}
