$superlinkimg-size: 44px;

.grid-superlink,
.grid-grote-knop {
  *[class*="col"] {
    background-color: map-get($colors, superlightgrey);
    background-position: calc(100% - 10px) calc(100% - 8px);
    background-repeat: no-repeat;
    height: 126px;

    .afbeelding {
      height: $superlinkimg-size;
      margin: 0 0 0 15px;
      overflow: hidden;
      width: 100%;

      img {
        height: auto;
        width: $superlinkimg-size;
      }
    }

    .holder {
      float: left;
      margin: 10px 15px;

      h2,
      h3,
      a {
        @include font(18px, 21px);
        background: none;
        margin: 0;
        overflow: hidden;
        padding-left: 0;
      }

      a {
        color: map-get($colors, superdarkgrey);
        font-family: $avenirnextdemi;
        text-decoration: none;
      }

      h2,
      h3 {
        a {
          &,
          &:hover,
          &:active,
          &:focus {
            color: inherit;
          }
        }
      }

      .tekst {
        @include font(16px, 18px);
        margin-top: 8px;
      }
    }

    &:hover {
      @extend %icon-superlink-right-red;
      border-color: $color-red;
      cursor: pointer;

      h2,
      h3,
      a {
        color: $color-red;
        text-decoration: underline;
      }
    }
  }

  &.selected {
    *[class*="col"] {
      background-color: $color-red;
      border-color: $color-black;

      &,
      &:hover {
        @extend %icon-superlink-down-black;
      }

      a {
        &,
        &:hover {
          color: $color-white;
        }
      }

      h2,
      h3 {
        a {
          text-decoration: none;

          &,
          &:hover {
            color: $color-white;
          }
        }
      }

      .tekst {
        display: none;
      }
    }
  }

  &.hassuperlinkimg {
    .holder {
      margin: 6px 0 0 15px;
    }
  }
}

.hasbgcolor {
  .grid-superlink,
  .grid-grote-knop {
    *[class*="col"] {
      background-color: $color-white;
      border-color: $color-black;

      &:hover,
      &:focus,
      &:visited,
      &:active {
        .holder a {
          color: $color-red;
        }
      }
    }

    h2 {
      color: $color-superdarkgrey;
    }

    #{$rich-content-class} * {
      color: $color-black;
    }

    .holder a {
      color: $color-black;
    }

    &.selected {
      *[class*="col"] {
        background: url("#{$core-svg-path}superlink-caret-grey.svg") 95% 93% no-repeat;
        background-color: $color-white;

        a {
          color: $color-black;
          text-decoration: none;

          &:hover {
            color: $color-red;
          }
        }

        &:hover,
        &:active,
        &:focus {
          background: url("#{$core-svg-path}superlink-caret-red.svg") 95% 93% no-repeat;
          background-color: $color-white;

          a {
            color: $color-red;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.loketlink {
  *[class*="col"] {
    .holder h2,
    .holder h3 {
      &.afbeelding {
        background-position: 0 0;
        background-repeat: no-repeat;
        padding-left: 45px;
      }
    }
  }
}

.grid-superlink {
  *[class*="col"] {
    @extend %icon-superlink-right-grey;
    border-bottom: 2px solid $color-lightgrey;
    border-right: 2px solid $color-lightgrey;
  }
}

.grid-grote-knop {
  *[class*="col"] {
    @extend %icon-superlink-right-black;
    border-bottom: 4px solid $color-black;
    border-right: 4px solid $color-black;
  }
}

.zone_subnav {
  .grid-superlink {
    *[class*="col"] {
      @extend %icon-caret-down-grey;

      &:hover,
      &:active,
      &:focus {
        @extend %icon-caret-down-red;
      }
    }

    &.selected {
      *[class*="col"] {
        @extend %icon-caret-down-black;

        &:hover,
        &:active,
        &:focus {
          @extend %icon-caret-down-black;
        }
      }
    }
  }
}
