.datetime-input {
  label {
    margin-top: 8px;
  }

  &__earlier-date {
    width: 240px;
  }

  &__earlier-time {
    display: flex;
    align-items: flex-end;

    select {
      width: 80px !important;
    }

    &-label {
      margin: 0 16px 0 8px;
    }
  }
}
