.map-component {
  margin-top: 5px;

  #mapdiv {
    position: relative;
    width: 100%;
    height: 450px;
  }

  .embed-search {
    // pull the search input outside of the map
    // top: -50px;
    // left: 0;
    max-width: 100%;
    // width: 100%;

    input[type="text"] {
      height: inherit;
    }

    button {
      display: none;
    }

    &__auto-suggest {
      width: 100%;
    }

    .invoer {
      box-shadow: none;
    }
  }

  &__loading {
    background-color: rgba(0, 0, 0, .2);
    display: block;
    width: calc(100% - 30px); // padding left and right of grid
    height: 100%;
    position: absolute;
    z-index: 1001;
  }
}
