.map-component {
  #mapdiv {
    position: relative;
    width: 100%;
    height: 450px;
  }

  .embed-search {
    max-width: 100%;

    &__form {
      box-shadow: none;

      button {
        display: none;
      }

      &__auto-suggest {
        width: 100%;
      }
    }
  }

  &__loading {
    background-color: rgba(0, 0, 0, .2);
    display: block;
    width: calc(100% - 30px); // padding left and right of grid
    height: 100%;
    position: absolute;
    z-index: 1001;
  }
}
