$checkbox-size: 28px;
$checkbox-border-size: 1px;

input[type="checkbox"] {
  @extend %selection-element-base;

  & + label {
    @include avenirnext;
    display: inline-block;
    margin-top: 3px;

    &::before {
      @extend %regular-selectioninput-normal;
      background: $color-white;
      content: "";
      height: calc(#{$checkbox-size} - #{$checkbox-border-size * 2});
      left: 0;
      position: absolute;
      top: 0;
      width: calc(#{$checkbox-size} - #{$checkbox-border-size * 2});
    }

    &::after {
      background: transparent;
      border: solid;
      border-top-color: transparent;
      border-width: 0 0 2px 2px;
      content: "";
      height: 5px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 10px;
      zoom: 1;
    }
  }

  &:checked + label {
    &::before {
      background-color: $color-black;
    }

    &::after {
      border-color: $color-white;
      opacity: 1;
      zoom: 1;
    }
  }

  &:disabled + label {
    color: $color-grey;
    cursor: default;

    &::before {
      @include input-color($checkbox-border-size, $color-grey);
    }

    &:hover,
    &:focus {
      & + label::before {
        @extend %disabled-input;
      }
    }
  }
}

.row_ongeldig { // sass-lint:disable-line class-name-format
  input[type="checkbox"] {
    & + label::before {
      @extend %invalid-input-normal;
    }

    &:hover,
    &:focus {
      & + label::before {
        @extend %invalid-input-focus;
      }
    }
  }
}

.row_geldig { // sass-lint:disable-line class-name-format
  input[type="checkbox"] {
    & + label::before {
      @extend %valid-input-normal;
    }

    &:hover,
    &:focus {
      & + label::before {
        @extend %valid-input-focus;
      }
    }
  }
}
