*[class*="col"].galerij {
  width: 100%;

  .resultaat {
    @extend %icon-gallery-caret-right-lightgrey;
    background-color: $color-superlightgrey;
    background-position: calc(100% - 12px) calc(100% - 12px);
    background-repeat: no-repeat;
    box-shadow: inset -3px 0 0 0 $color-grey;
    clear: none;
    float: left;
    height: 233px;
    padding-bottom: 15px;
    width: 220px;

    .holder {
      .tekst {
        padding: 0;
      }

      .summary {
        padding: 3px 0;
      }
    }

    &:hover {
      @extend %icon-gallery-caret-right-black;
      background-color: $color-white;
      background-position: calc(100% - 13px) calc(100% - 12px);
      box-shadow: inset -3px 0 0 0 $color-black;
      cursor: pointer;

      h2,
      h3 {
        a {
          color: $color-black;
          max-height: none;
          overflow: visible;
          text-decoration: none;
        }
      }

      img {
        display: none;
      }

      .holder {
        @include font-size(14px);
        color: $color-black;

        .summary {
          display: block;
          padding: 0;
        }

        .meta {
          display: none;

          &.link {
            display: block;
          }
        }
      }
    }

    img {
      display: block;
      float: none;
      padding: 0;
      position: static;
      top: 0;
      width: 220px;
    }

    h2,
    h3 {
      margin-left: 0;
      padding: 15px 15px 0;
    }

    .holder {
      margin-left: 0;
      padding: 0 15px;

      .summary {
        display: none;
        padding: 0 15px 15px 0;
      }

      .meta {
        @include font-size(14px);
        color: $color-black;
        padding-right: 5px;

        &.link {
          display: block;
          word-wrap: break-word;
        }
      }
    }

    h2,
    h3 {
      @include font(16px, 20px);
      margin-bottom: 0;

      a {
        background: none;
        overflow: hidden;
      }
    }

    h2 a,
    h3 a {
      padding-left: 0;
    }
  }

  .resultaat + .resultaat {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: $grid-mq-small) {
  *[class*="col"].galerij {
    .resultaat {
      height: auto;
      width: 100%;

      &:hover {
        min-height: 250px;
      }

      img {
        @include image-auto-size;
        padding-left: 0;
      }

      & + .resultaat {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}
