@import "config.scss";

.attachment-viewer {
  position: relative;
  text-align: center;
  background-color: #F5F5F5;
  height: 722px;
  display: flex;

  &__attachment {
    max-height: 722px;
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
  }

  &__button-previous {
    position: absolute;
    left: 10px;
    top: calc(50% - 16px);
  }

  &__button-next {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
  }
}
