@import "config.scss";

.my-filters {
  &__removed-filter {
    background-color: #eee;
    margin-bottom: 30px;
    padding: 10px;
  }

  &__revert-button {
    @include avenirnext();
    font-size: 16px;
    line-height: 22px;
    border: 0;
    padding: 0;
    margin: 10px 0 0 0;
    color: #004699;
    background-color: transparent;
    text-decoration: underline;
  }
}
