.toggle-mainmenu {
  .caret {
    @include getsprite(3, 1, 50px, "#{$core-sprites-path}sprite-assets.png");
    display: inline-block;
    height: 24px;
    margin-left: 20px;
    margin-top: 13px;
    width: 24px;

    @media screen and (max-width: $grid-mq-medium) {
      margin-left: 15px;
    }
  }

  &.expanded {
    @extend %toggle-base;
  }
}
