@import "config.scss";

.detail {
  &__text {
    @include avenirnextdemi();
    font-size: 20px;
    line-height: 25px;
    margin: 13px 0;
  }

  dl {
    margin: 0;
  }

  &__definition {
    width: 25%;
    display: inline-block;
    color: $ams-donkergrijs;
  }

  &__value{
    width: 75%;
    display: inline-block;

    #mapdiv {
      height: 100px !important;
      width: 100px;
    }
  }

  &__definition, &__value {
    margin: 0;
    vertical-align: top;
    padding: 9px 0;
  }
}
