@import "config.scss";

.status-form {
  &__current-state {
    margin-bottom: 20px;

    label {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  &__form {
    &-submit {
      height: 50px;

      &:disabled {
        color: #B4B4B4 !important;
        background-color: $ams-lichtgrijs !important;
      }
    }

    &-cancel {
      height: 50px;

      color: $ams-zwart !important;
      background-color: #B4B4B4 !important;
    }
  }
}
