@import "config.scss";

.meta-list {
  &__definition {
    font-weight: normal;
    color: $ams-donkergrijs;
    margin-bottom: 5px;
  }

  &__value {
    margin-bottom: 16px;

    &--status {
      @include avenirnextdemi();
      color: $ams-rood;
    }
  }

  &__edit {
    float: right;
  }

  &__link {
    color: $ams-donkerblauw;
    margin-right: 10px;
  }
}
