$ams-geel:                #ffe600;
$ams-oranje:              #ff9100;
$ams-rood:                #ec0000;
$ams-rood-hover:          #BC0000;
$ams-donkergroen:         #00a03c;
$ams-groen:               #bed200;
$ams-paars:               #a00078;
$ams-magenta:             #e50082;
$ams-donkerblauw:         #004699;
$ams-blauw:               #009de6;
$ams-lichtgrijs:          #e8e8e8;
$ams-middengrijs:         #bebebe;
$ams-donkergrijs:         #767676;
$ams-middendonkergrijs:   #999;
$ams-antraciet:           #434343;
$ams-donkerantraciet:     #666;
$ams-wit:                 #fff;
$ams-zwart:               #000;

$ams-neutral-grey1:       #F5F5F5;
$ams-neutral-grey2:       #E6E6E6;
$ams-neutral-grey3:       #B4B4B4;
$ams-neutral-grey4:       #767676;
$ams-neutral-grey5:       #323232;

$ams-pinkish-grey:        #cccccc;

$ams-body:                $ams-antraciet;
$ams-footer:              $ams-donkerantraciet;
$ams-hint:                $ams-donkergrijs;
$ams-form-field:          $ams-middengrijs;
$ams-background-sidebars: #e5e5e5;
$ams-top-menu:            #f3f3f3;

$ams-support-valid:       #00a03c;
$ams-support-invalid:     #ec0000;
$ams-support-focus:       #fec813;

$ams-backdrop:            rgba(0,0,0,.5);

$bodybg-grey: #e5e5e5;
$buttonbg-tertiair-hover: #e6ecf4;
