@import "config.scss";

.filter-tag-list {
  display: inline-block;

  &__item {
    background-color: #e6e6e6;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    margin-right: 5px;
    padding: 1px 7px;
  }
}
