.logotext {
  @include avenirnextdemi;
  @include font-size(23);
  color: $color-black;
  display: block;
  line-height: 1em;
  margin: 0 0 0 30px;
  padding: 0;

  &.red {
    color: $color-red;
  }

  @media screen and (max-width: $grid-mq-small) {
    @include font-size(21);
    margin: 0 0 0 22px;
  }
}

@media screen and (max-width: $grid-mq-small) {
  .logotext {
    line-height: .8em;
  }

  .logotext + .logotext {
    margin-top: 9px;
  }
}

*[class*="col"].subidentiteit,
*[class*="col"].sponsored {
  .logotext {
    line-height: 1em;
  }

  .logotext + .logotext {
    margin-top: 0;
  }
}

*[class*="col"].subidentiteit .logotext {
  @include font-size(23);

  @media screen and (max-width: $grid-mq-small) {
    @include font-size(14);
  }
}

*[class*="col"].sponsored {
  .logotext {
    @include font-size(13);

    @media screen and (max-width: $grid-mq-small) {
      @include font-size(14);
    }
  }
}

