fieldset legend.tussenkop {
  @include visually;
  @include avenirnextdemi;
  @include font(22px, 28px);
  color: $color-black;
  margin-bottom: 15px;
  padding-top: 30px;
}

.confirmation .tussenkop {
  @include font(22px, 28px);
  border-bottom: 2px solid $color-lightgrey;
  width: 100%;
}
