@import "config.scss";

.filter-item {
  margin-bottom: 30px;

  &__name {
    @include avenirnextdemi();
    color: $ams-rood;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  &__actions {
    margin-top: 12px;

    &-button {
      @include avenirnext();
      font-size: 16px;
      line-height: 22px;
      border: 0;
      padding: 0;
      margin: 0 20px 0 0;
      color: #004699;
      text-decoration: underline;
    }
  }
}
