.formulier-section {
  .filter-header {
    min-height: #{$filter-button-height + $filter-button-border-size * 2};
    padding: 15px;
    position: relative;

    button.reset {
      float: right;
      margin: 0;
      padding: 9px 0;
    }

    .toggle-filter {
      position: absolute;
      right: 15px;
      top: calc(50% - 8px);
    }
  }

  &.filters-open {
    .filter-header {
      border-bottom: 2px solid $color-lightgrey;
    }

    .filter-button {
      background-color: transparent;
      border: 0;
      padding: 0;
    }

    form {
      margin-top: 4px;
      padding-top: 8px;
    }
  }
}
