@import "functions";
@import "mixins";

$browser-context: 16;

$color-black: #000;
$color-darkblue: #004699;
$color-darkgreen: #00a03c;
$color-darkgrey: #666;
$color-text-darkgrey: #767676;
$color-text-mediumgrey: #999;
$color-green: #bed200;
$color-mediumgrey: #ddd;
$color-grey: #bebebe;
$color-lightblue: #009de6;
$color-lightgrey: #e8e8e8;
$color-magenta: #e50082;
$color-orange: #ff9100;
$color-deeppurple: #609;
$color-purple: #a00078;
$color-red: #ec0000;
$color-mediumdarkgrey: #434343;
$color-superdarkgrey: #333;
$color-superlightgrey: #f3f3f3;
$color-white: #fff;
$color-lightyellow: #ff9;
$color-yellow: #ffe600;

$colors: (
  "black": $color-black,
  "darkblue": $color-darkblue,
  "darkgreen": $color-darkgreen,
  "darkgrey": $color-darkgrey,
  "text-darkgrey": $color-text-darkgrey,
  "text-mediumgrey": $color-text-mediumgrey,
  "green": $color-green,
  "mediumgrey": $color-mediumgrey,
  "grey": $color-grey,
  "lightblue": $color-lightblue,
  "lightgrey": $color-lightgrey,
  "magenta": $color-magenta,
  "orange": $color-orange,
  "deeppurple": $color-deeppurple,
  "purple": $color-purple,
  "red": $color-red,
  "mediumdarkgrey": $color-mediumdarkgrey,
  "superdarkgrey": $color-superdarkgrey,
  "superlightgrey": $color-superlightgrey,
  "white": $color-white,
  "lightyellow": $color-lightyellow,
  "yellow": $color-yellow
);

$bodybg-grey: #e5e5e5;
$buttonbg-tertiair-hover: #e6ecf4;

$avenirheavy: "Avenir LT W01 85 Heavy", arial, sans-serif;
$avenirmedium: "Avenir LT W01 65 Medium", verdana, sans-serif;
$avenirnextdemi: "Avenir Next LT W01 Demi", arial, sans-serif;
$avenirnext: "AvenirNextLTW01-Regular", verdana, sans-serif;
$avenirnextmedium: "AvenirNextLTW01-Medium", verdana, sans-serif;

@mixin avenirheavy {
  font-family: $avenirheavy;
}

@mixin avenirmedium {
  font-family: $avenirmedium;
}

@mixin avenirnextdemi {
  font-family: $avenirnextdemi;
}

@mixin avenirnext {
  font-family: $avenirnext;
}

@mixin avenirnextmedium {
  font-family: $avenirnextmedium;
}

$rowheight: 44px;
$button-lineheight: 1em;

// Filter
$filter-button-height: 32px;
$filter-button-border-size: 1px;

// breakpoints waarmee het grid rekent
$grid-bp-small: 320px;
$grid-bp-medium: 480px;
$grid-bp-large: 960px;
$grid-bp-xlarge: 1400px;

// breakpoints waarmee de css werkt
$grid-mq-small: 539px;
$grid-mq-medium: 1023px;
$grid-mq-large: 1399px;

$hero-img-height: 415px;
