@function best-contrast-on($color, $dark: $color-black, $light: $color-white) {
  @if $color == null {
    @return null;
  }
  @else {
    $yiq: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000; // sass-lint:disable-line no-color-keywords
    @return if($yiq >= 128, $dark, $light);
  }
}

%light-color-on-bg {
  color: $color-white;
}

%dark-color-on-bg {
  color: $color-black;
}

%red-color {
  color: $color-red;
}

@mixin colors-on-bg($color) {
  * {
    @if best-contrast-on($color) == #000 {
      @extend %dark-color-on-bg;
    }

    @else if best-contrast-on($color) == #fff {
      @extend %light-color-on-bg;
    }
  }

  @if best-contrast-on($color) == #fff {
    a:active,
    a:hover {
      @extend %light-color-on-bg;
    }
  }
}
