// Caret up
%icon-caret-up-black {
  background-image: url("#{$core-svg-path}caret-up-black.svg");
  background-repeat: no-repeat;
}

%icon-caret-up-darkgrey {
  background-image: url("#{$core-svg-path}caret-up-darkgrey.svg");
  background-repeat: no-repeat;
}

%icon-caret-up-red {
  background-image: url("#{$core-svg-path}caret-up-red.svg");
  background-repeat: no-repeat;
}

// Caret right
%icon-caret-right-black {
  background-image: url("#{$core-svg-path}caret-right-black.svg");
  background-repeat: no-repeat;
}

%icon-caret-right-red {
  background-image: url("#{$core-svg-path}caret-right-red.svg");
  background-repeat: no-repeat;
}

%icon-caret-right-white {
  background-image: url("#{$core-svg-path}caret-right-white.svg");
  background-repeat: no-repeat;
}

// Caret down
%icon-caret-down-black {
  background-image: url("#{$core-svg-path}caret-down-black.svg");
  background-repeat: no-repeat;
}

%icon-caret-down-darkgrey {
  background-image: url("#{$core-svg-path}caret-down-darkgrey.svg");
  background-repeat: no-repeat;
}

%icon-caret-down-grey {
  background-image: url("#{$core-svg-path}caret-down-grey.svg");
}

%icon-caret-down-red {
  background-image: url("#{$core-svg-path}caret-down-red.svg");
  background-repeat: no-repeat;
}

%icon-caret-down-white {
  background-image: url("#{$core-svg-path}caret-down-white.svg");
}

// Caret left
%icon-caret-left-black {
  background-image: url("#{$core-svg-path}caret-left-black.svg");
}

%icon-caret-left-blue {
  background-image: url("#{$core-svg-path}caret-left-blue.svg");
}

%icon-caret-left-red {
  background-image: url("#{$core-svg-path}caret-left-red.svg");
}

%icon-caret-left-white {
  background-image: url("#{$core-svg-path}caret-left-white.svg");
}

// Caret up small
%icon-caret-up-black-small {
  background-image: url("#{$core-svg-path}toggle-inline-caret-up-black.svg");
}

%icon-caret-up-white-small {
  background-image: url("#{$core-svg-path}toggle-inline-caret-up-white.svg");
}

// Caret down small {
%icon-caret-down-black-small {
  background-image: url("#{$core-svg-path}toggle-inline-caret-down-black.svg");
}

%icon-caret-down-white-small {
  background-image: url("#{$core-svg-path}toggle-inline-caret-down-white.svg");
}

// Gallery Caret
%icon-gallery-caret-right-black {
  background-image: url("#{$core-svg-path}gallery-caret-right-black.svg");
}

%icon-gallery-caret-right-lightgrey {
  background-image: url("#{$core-svg-path}gallery-caret-right-lightgrey.svg");
}

// External link
%icon-external-link-black {
  background-image: url("#{$core-svg-path}external-link-black.svg");
  background-repeat: no-repeat;
}

%icon-external-link-red {
  background-image: url("#{$core-svg-path}external-link-red.svg");
  background-repeat: no-repeat;
}

// Document
%icon-document-black {
  background-image: url("#{$core-svg-path}icon-document-black.svg");
}

%icon-document-blue {
  background-image: url("#{$core-svg-path}icon-document-blue.svg");
}

%icon-document-red {
  background-image: url("#{$core-svg-path}icon-document-red.svg");
}

%icon-document-white {
  background-image: url("#{$core-svg-path}icon-document-white.svg");
}

// Dropdown
%icon-dropdown-open-black {
  background-image: url("#{$core-svg-path}dropdown-open.svg");
}

%icon-dropdown-open-red {
  background-image: url("#{$core-svg-path}dropdown-open-hover.svg");
}

%icon-dropdown-closed-black {
  background-image: url("#{$core-svg-path}dropdown-closed.svg");
}

%icon-dropdown-closed-red {
  background-image: url("#{$core-svg-path}dropdown-closed-hover.svg");
}

// Search
%icon-search-black {
  background-image: url("#{$core-svg-path}search-icon-black.svg");
}

%icon-search-white {
  background-image: url("#{$core-svg-path}search-icon-white.svg");
}

// Close
%icon-close-black {
  background-image: url("#{$core-svg-path}close-icon-black.svg");
}

%icon-close-thick-darkgrey {
  background-image: url("#{$core-svg-path}close-thick-darkgrey.svg");
}

%icon-close-thick-white {
  background-image: url("#{$core-svg-path}close-thick-white.svg");
}

// Filter
%icon-filter-black {
  background-image: url("#{$core-svg-path}filter-icon.svg");
}

// Check
%icon-check-blue {
  background-image: url("#{$core-svg-path}checkbox-blue.svg");
}

// Superlink
%icon-superlink-down-black {
  background-image: url("#{$core-svg-path}superlink-caret-down-black.svg");
}

%icon-superlink-right-black {
  background-image: url("#{$core-svg-path}superlink-caret-black.svg");
}

%icon-superlink-right-grey {
  background-image: url("#{$core-svg-path}superlink-caret-grey.svg");
}

%icon-superlink-right-red {
  background-image: url("#{$core-svg-path}superlink-caret-red.svg");
}
