$core-imgpath: "../images/";
$core-bgs-path: "#{$core-imgpath}backgrounds/";
$core-buttons-path: "#{$core-imgpath}buttons/";
$core-logos-path: "#{$core-imgpath}logos/";
$core-sprites-path: "#{$core-imgpath}sprites/";
$core-svg-path: "#{$core-imgpath}svg/";
$core-assets-path: "#{$core-imgpath}assets/";
$rich-content-class: ".rich-content";
