// Zone separator
////
hr.zone-separator {
  border: 0;
  border-top: 5px solid $color-lightgrey;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid-scheidslijn {
  hr.zone-separator {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@each $name, $color in $colors {
  %zone-separator-#{$color} {
    border-top-color: best-contrast-on($color);
  }

  .bg-#{$name} hr.zone-separator {
    @extend %zone-separator-#{best-contrast-on($color)};
  }
}
