.inline-toggle {
  @extend %icon-caret-down-black-small;
  background-color: $color-lightgrey;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  display: inline-block;
  height: 14px;
  width: 14px;

  &:hover {
    @extend %icon-caret-down-white-small;
    background-color: $color-red;
  }

  &.ingeklapt {
    margin: 0 6px;
  }

  &.uitgeklapt {
    @extend %icon-caret-up-black-small;

    &:hover {
      @extend %icon-caret-up-white-small;
    }
  }
}

.inline-toggle-body {
  background-color: $color-lightgrey;
  display: block;
  margin: 12px 0;
  padding: 20px;

  &.verborgen {
    display: none;
  }
}
