.list-component {
  padding: 10px;

  tr:hover {
    cursor: pointer;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__body-col {
    &-1 {
      width: 30%;
    }

    &-2 {
      width: 20%;
    }

    &-3 {
      width: 30%;
    }

    &-4 {
      width: 20%;
    }
  }
}
