@import 'ams-colorpalette';
@import 'ams-font';
@import 'ams-breakpoints';
@import 'ams-mixins';

$rowheight: 44px;
$button-lineheight: 1em;

// Form
%disabled-input {
  @include input-color(1px, $ams-middengrijs);
  background-color: $ams-wit;
  cursor: not-allowed;
}

%regular-input-normal {
  @include avenirnext;
  @include input-color(1px, $ams-donkergrijs);
  @include font-size(16px);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  padding: 11px 10px;
  width: 100%;
}

%regular-selectioninput-normal {
  @include avenirnext;
  @include input-color(1px, $ams-donkergrijs);
  @include font-size(16px);
  border: 0;
  width: calc(100% - 20px);
}

%regular-input-focus {
  @include input-color(2px, $ams-zwart);
  outline: 0;
}

%invalid-input-normal {
  @include input-color(1px, $ams-rood);
}

%invalid-input-focus {
  @include input-color(2px, $ams-rood);
}

%invalid-border {
  @include validation-border($ams-rood);
}

%valid-input-normal {
  @include input-color(1px, $ams-donkergroen);
}

%valid-input-focus {
  @include input-color(2px, $ams-donkergroen);
}

%valid-border {
  @include validation-border($ams-donkergroen);
}

%input-mode-display {
  .label,
  .invoer {
    display: inline-block;
  }

  .label {
    vertical-align: top;
    width: 50%;

    label,
    .setlabel,
    .label-text {
      @include avenirnext;
      color: $ams-donkergrijs;
    }
  }

  .invoer {
    @include avenirnextdemi;
    width: 49%;
  }

  &.display_largecontent {
    .label {
      width: 33%;
    }

    .invoer {
      width: 66%;
    }
  }

  &.display_largelabels {
    .label {
      width: 66%;
    }

    .invoer {
      width: 33%;
    }
  }

  @media screen and (max-width: $grid-mq-small) {
    .label,
    .invoer,
    &.display_largecontent .label,
    &.display_largecontent .invoer,
    &.display_largelabels .label,
    &.display_largelabels .invoer {
      width: 100%;
    }
  }
}

%selection-fieldset-base {
  .antwoorden {
    margin: 10px 0;
  }

  > legend {
    float: left;

    & + * {
      clear: both;
    }
  }
}

%selection-element-base {
  cursor: pointer;
  height: 28px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: 1;
  zoom: 1;

  &:disabled {
    cursor: default;
  }

  &:hover,
  &:focus {
    & + label::before {
      @extend %regular-input-focus;
    }
  }
}

// Button
%button-base {
  @include avenirnextdemi;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: $button-lineheight;
  margin: 6px 10px 6px 0;
  padding: #{$rowheight / 4} 15px;
  position: relative;
  text-decoration: none;
}

%button-regular {
  @extend %button-base;
  @include button-type(primary, $ams-rood, $ams-wit);
  @include button-type(secundary-blue, $ams-donkerblauw, $ams-wit);
  @include button-type(secundary-grey, $ams-lichtgrijs, $ams-zwart);
  border: 0;
}

%button-tertiair {
  @extend %button-base;
  border-color: $ams-donkerblauw;
  border-style: solid;

  &,
  &:visited,
  &:active,
  &:hover {
    background-color: $ams-wit;
    color: $ams-donkerblauw;
  }

  &,
  &:visited {
    border-width: 1px;
    padding: 10px 14px 11px;
  }

  &:active,
  &:hover {
    background-color: $buttonbg-tertiair-hover;
    border-width: 2px;
    padding: 9px 13px 10px;
    text-decoration: none !important;
  }
}

%button-reset {
  background-color: transparent;
  color: $ams-donkerblauw;
  padding-left: 0;
  padding-right: 0;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $ams-rood;
  }
}

%button-action {
  @extend %button-regular;

  .working {
    .progress-indicator {
      font-size: 3px;
      margin-left: 6px;

      &::before {
        animation: load2 2s infinite ease 1.5s;
      }

      &::after {
        animation: load2 2s infinite ease;
      }
    }
  }

  &[type="reset"] {
    @extend %button-reset;
  }

  &[disabled] {
    cursor: not-allowed;

    .value {
      opacity: .5;
    }
  }

  &.disabled {
    background-color: $bodybg-grey !important;
    cursor: not-allowed;

    .value {
      color: $ams-middengrijs;
    }

    &.arrow-left {
      &::after {
        border-right-color: $bodybg-grey !important;
      }
    }

    &.arrow-right {
      &::after {
        border-left-color: $bodybg-grey !important;
      }
    }
  }
}

// Toggle
%toggle-base {
  .caret {
    background-image: url("../images/svg/close-icon-black.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
  }
}

%appear-base {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in;
}

%appearing {
  max-height: 4em;
  transition: max-height .5s ease-in;
}

%disappear-base {
  max-height: 4em;
  overflow: hidden;
  transition: max-height .5s ease-in;
}

%disappearing {
  max-height: 0;
  transition: max-height .5s ease-in;
}

// List
%list-unstyled {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    list-style-image: none;
  }
}

// Functional link
%functional-link {
  background-color: $ams-donkerantraciet;
  float: left;
  height: 30px;
  margin: 0 4px 10px 0;
  width: 30px;

  &:hover {
    background-color: $ams-rood;
  }

  a {
    direction: ltr;
    display: inline-block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
  }
}
