@mixin input-color ($size, $color) {
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  box-shadow: inset 0 0 0 $size $color;
}

@mixin link-list-on-hover-underline {
  .links li {
    > a {
      &,
      &:hover {
        text-decoration: none;
      }

      .linklabel {
        border-bottom: 2px solid transparent;
      }
    }

    &.selected,
    &.active {
      > a {
        .linklabel {
          border-bottom-color: $ams-rood;
        }
      }
    }

    > a:hover {
      .linklabel {
        border-bottom-color: $ams-rood;
        color: $ams-rood;
      }
    }
  }
}

@mixin visuallyhidden {
  // Hide only visually, but have it available for screenreaders: h5bp.com/v
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin visually {
  // Allow the element to be focusable. when navigated to via the keyboard: h5bp.com/p
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@mixin font-size($px) {
  font-size: rem($px);
}

@mixin line-height($px) {
  line-height: rem($px);
}

@mixin font($fontsize, $lineheight) {
  @include font-size($fontsize);
  @include line-height($lineheight);
}

@mixin base-font {
  @include font(16px, 22px);
  color: $ams-zwart;
  font-family: $avenirnext;
}

@mixin getbgpos($posx, $posy, $size, $offsetx: 0, $offsety: 0) {
  background-position: calcposx($posx, $size, $offsetx) calcposy($posy, $size, $offsety);
}

@mixin getsprite($posx, $posy, $size, $location, $offsetx: 0, $offsety: 0) {
  background-image: url($location);
  background-position: calcposx($posx, $size, $offsetx) calcposy($posy, $size, $offsety);
  background-repeat: no-repeat;
}

// Placeholder text
@mixin placeholder($color: #ccc) {
  &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    opacity: 1;
  }

  &::placeholder {
    @include avenirnextdemi;
    color: $color;
  }
}

// Images behaviour
@mixin image-auto-size {
  height: auto !important;
  max-height: none !important;
  max-width: 100% !important;
  width: 100% !important;
}

@mixin validation-border($color: $ams-rood) {
  border-left: 2px solid $color;
  padding-left: 13px;
}

@mixin button-type($type, $background-color, $color) {
  $button-arrow-size: 15px;

  &.#{$type} {
    .working::before {
      border-top: 15px solid $background-color;
    }

    &.arrow-left::after,
    &.arrow-right::after {
      border-bottom: calc(#{$button-lineheight / 2} + #{$rowheight / 4}) solid transparent;
      border-top: calc(#{$button-lineheight / 2} + #{$rowheight / 4}) solid transparent;
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 0;
    }

    &.arrow-left {
      margin-left: $button-arrow-size;

      &::after {
        border-right: $button-arrow-size solid $background-color;
        right: 100%;
      }
    }

    &.arrow-right {
      margin-right: $button-arrow-size;

      &::after {
        border-left: $button-arrow-size solid $background-color;
        left: 100%;
      }
    }
  }

  &.#{$type},
  &.#{$type}:visited {
    background-color: $background-color;

    &,
    .value {
      color: $color;
    }
  }

  &.#{$type}:enabled:active,
  &.#{$type}:enabled:hover {
    background-color: darken($background-color, 10%);

    &.arrow-left::after {
      border-right-color: darken($background-color, 10%);
    }

    &.arrow-right::after {
      border-left-color: darken($background-color, 10%);
    }

    .working::before {
      border-top-color: darken($background-color, 10%);
    }
  }
}

@mixin rich-content-styles {
  h2,
  h4,
  p + p {
    margin-top: 1em;
  }

  h3:not(:first-child) {
    margin-top: 30px;
  }

  a {
    color: $ams-donkerblauw;

    &:active,
    &:hover {
      color: $ams-rood;
    }

    &:visited {
      color: $ams-paars;
    }
  }

  ul:not(.links),
  ol {
    li {
      margin-bottom: 6px;
    }
  }

  ol {
    list-style-position: inside;
    margin: 10px 0;
    padding-left: 0;
  }

  ul:not(.links) {
    margin: 10px 16px;

    li {
      list-style: none;
      margin-left: -16px;
      padding-left: 18px;

      &::before {
        color: $ams-donkergrijs;
        content: "\25A0";
        display: block;
        left: -18px;
        max-height: 0;
        max-width: 0;
        position: relative;
      }
    }
  }
}

@mixin richcontent-on-bg($color) {
  ul:not(.links) {
    li::before {
      @if best-contrast-on($color) == #000 {
        @extend %dark-color-on-bg;
      }

      @else if best-contrast-on($color) == #fff {
        @extend %light-color-on-bg;
      }
    }
  }

  #{$rich-content-class} {
    a {
      @if best-contrast-on($color) == #fff {
        &,
        &:active,
        &:hover,
        &:visited {
          @extend %light-color-on-bg;
        }
      }
      @else {
        &:hover,
        &:active {
          color: $ams-rood;
        }

        &,
        &:visited {
          @extend %dark-color-on-bg;
        }
      }
    }
  }
}
