@import "config.scss";

.location-form {
  #nlmaps-geocoder-control-input {
    width: 33%;
  }

  &__submit {
    &:disabled {
      color: #B4B4B4 !important;
      background-color: $ams-lichtgrijs !important;
    }
  }
  &__cancel {
    color: $ams-zwart !important;
    background-color: #B4B4B4 !important;
  }
}
