.incident-navigation {
  align-items: center;
  background-color: rgba(229, 229, 229, 1);
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 32px;

  &__button {
    align-self: center;
    height: 50px;

    &--next {
      &:after {
        border-bottom: calc(0.5em + 17px) solid #0000 !important;
        border-top: calc(0.5em + 17px) solid #0000 !important;
      }
    }
  }
}
