h1 {
  margin-bottom: 20px;

  & + .subtitle,
  & + .source,
  & + .subtitle + .source {
    margin-bottom: 28px;
  }

  & + .subtitle {
    margin-top: -20px;
  }

  & + .source,
  & + .subtitle + .source {
    color: $color-text-darkgrey;

    * {
      display: inline;
    }
  }
}

.type-sitepad + h1 {
  clear: both;
}

.has_hero_image { // sass-lint:disable-line class-name-format
  h1 {
    margin-top: 22px;
  }
}
