.filter-button {
  background-color: $color-white;
  border: $filter-button-border-size solid $color-black;
  display: inline-block;
  height: $filter-button-height;
  padding: 0 8px;
  vertical-align: top;

  .filter-label,
  .filter-icon,
  .filter-pill {
    display: table-cell;
    vertical-align: middle;
  }

  .filter-label {
    @include avenirnextdemi;
    @include font(16px, 21px);
    padding-right: 9px;
  }

  .filter-icon {
    @extend %icon-filter-black;
    background-position: 0 50%;
    background-repeat: no-repeat;
    content: "";
    height: 32px;
    margin: 0 9px;
    width: 24px;
  }

  .filter-pill {
    padding-left: 9px;
  }
}
