.has-multicol-4 {
  columns: 4;
}

.has-multicol-3 {
  columns: 3;
}

.has-multicol-2 {
  columns: 2;
}

.has-multicol-4,
.has-multicol-3,
.has-multicol-2 {
  column-gap: 20px;

  li {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.col-9 { // sass-lint:disable-line class-name-format
  .has-multicol-4 {
    columns: 3;
  }
}

.col-6 { // sass-lint:disable-line class-name-format
  .has-multicol-4,
  .has-multicol-3 {
    columns: 2;
  }
}

.col-3 { // sass-lint:disable-line class-name-format
  .has-multicol-4,
  .has-multicol-3,
  .has-multicol-2 {
    columns: 1;
  }
}

@media screen and (min-width: #{$grid-mq-small + 1px}) and (max-width: $grid-mq-medium) {
  .col-12, // sass-lint:disable-line class-name-format
  .col-9 { // sass-lint:disable-line class-name-format
    .has-multicol-4,
    .has-multicol-3 {
      columns: 2;
    }
  }
}

@media screen and (max-width: $grid-mq-small) {
  .col-12, // sass-lint:disable-line class-name-format
  .col-9, // sass-lint:disable-line class-name-format
  .col-6 { // sass-lint:disable-line class-name-format
    .has-multicol-4,
    .has-multicol-3,
    .has-multicol-2 {
      columns: 1;
    }
  }
}
