@import "config.scss";

.multi-text-input {
  // margin: 16px 0;

  &__input {
    margin-bottom: 15px;
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border-style: none;
    background-color: transparent;
    margin: 0;
    @include avenirnextdemi;
    color: #004699;
    text-decoration: underline;
    font-size: 16px;
  }
}
