@import "config.scss";

.incident-detail {
  min-height: 800px;

  &__preview {
    position: relative;
    margin-top: 10px;

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10000;
    }
  }

  &__button {
    background-color: #ffffff;
    color: #666666;
    border-width: 1px;
    padding: 7px 12px;
    border-color: #cccccc;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    @include avenirnextdemi();
    line-height: 16px;
    margin: 6px 8px 6px 0;
    text-decoration: none;

    &:hover {
      border-color: #000000;
      color: #000000;
    }

    &--download,
    &--edit,
    &--close,
    &--next,
    &--previous {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-decoration: none;
      border-color: #cccccc;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      background-repeat: no-repeat;
      background-color: #ffffff;

      &:hover {
        border-color: #000000;
        color: #000000;
      }

      &:disabled {
        border-color: #e5e5e5 !important;
        cursor: default;
      }
    }

    &--download {
      background-image: url('../../../../shared/images/icon-download.svg');
      background-position: 8px;
      background-size: 15px;
    }

    &--edit {
      background-image: url('../../../../shared/images/icon-edit.svg');
      background-position: 5px;

      &:disabled {
        background-image: url('../../../../shared/images/icon-edit-disabled.svg');
      }
    }

    &--close {
      background-image: url('../../../../shared/images/icon-close.svg');
      background-position: 9px;
      background-size: 12px;
    }

    &--next {
      background-image: url('../../../../shared/images/icon-chevron-right.svg');
      background-position: 8px 9px;
      background-size: 14px;
    }

    &--previous {
      background-image: url('../../../../shared/images/icon-chevron-left.svg');
      background-position: 7px 9px;
      background-size: 14px;
    }
  }

  .action.startagain {
    padding-left: 0;
  }

  &__tab-container {
    padding-top: 20px;
    min-height: 300px;
    border-top: 1px solid #999999;
  }

  &__image--max-width {
    max-width: 100%;
  }
}
