.type-nav-megamenu {
  margin: 12px 0 30px;

  .grid-title {
    h2 {
      @include avenirnextmedium;
      @include font-size(16);
      line-height: 21px;
    }
  }

  #{$rich-content-class} {
    @include avenirnextmedium;
    @include font-size(16);
    margin-bottom: 30px;
  }

  &.hastitle {
    #{$rich-content-class} {
      margin-top: 0;
    }
  }

  ul.links {
    line-height: rem(32);
    margin-bottom: 30px;

    li {
      @include font-size(16);
      line-height: rem(20);
      margin-bottom: 0;
      padding-bottom: rem(12);

      a {
        @include avenirnextmedium;
        background: url("#{$core-svg-path}caret-right-black.svg") no-repeat 0 4px;
        color: $color-black;
        display: inline-block;
        padding: 0 0 0 13px;

        &:hover {
          color: $color-red;
          text-decoration: underline;
        }
      }

      &.selected {
        a {
          color: $color-red;
          text-decoration: underline;

          .linklabel {
            color: $color-black;
          }

          &:hover {
            .linklabel {
              color: $color-red;
            }
          }
        }
      }
    }
  }

  .grid-title + .grid-inside {
    ul.links {
      margin: 12px 0 30px;
    }
  }

  @media screen and (max-width: $grid-mq-medium) {
    width: 100%;

    *[class*="col"] {
      background-color: $color-white;
      width: calc(100% - 42px) !important;
    }

    .grid-title {
      h2 {
        border-left: 8px solid $color-superlightgrey;
        margin: 0;
        padding: 22px 12px 10px;
      }
    }

    ul.links {
      border-bottom: 1px solid $color-lightgrey;
      margin: 0;

      li {
        border-top: 1px solid $color-lightgrey;
        clear: none;
        float: none;
        margin-left: 0;
        margin-right: 0;

        a {
          @include font-size(16);
          background-position: 12px 16px;
          border-left: 8px solid $color-superlightgrey;
          color: $color-superdarkgrey;
          padding: 11px 0 12px 26px;

          &:hover {
            background-position: 12px -3984px;
            color: $color-red;
          }
        }
      }
    }
  }

  @media screen and (max-width: $grid-mq-small) {
    .grid-title {
      h2 {
        padding: 22px 12px 10px 7px;
      }
    }

    ul.links {
      li {
        a {
          background-position: 7px 16px;
          padding: 11px 0 12px 21px;

          &:hover {
            background-position: 7px -3984px;
          }
        }
      }
    }
  }
}
