@media screen and (max-width: $grid-mq-medium) {
  *[class*="col"].type-nav-primair {
    float: none !important;
  }
}

.type-nav-primair {
  @extend %megamenu-treeview;

  .grid-title {
    max-height: $rowheight;
  }

  .toggle-search {
    float: right;
  }

  @media screen and (min-width: #{$grid-mq-medium + 1px}) {
    .toggle-mainmenu {
      display: none;
    }

    .toggle-search {
      margin-right: -10px;
    }
  }

  .links {
    > li {
      > a {
        @include avenirnextmedium;
        color: $color-superdarkgrey;
        padding-left: 0;

        &.mainmenu-megamenu {
          cursor: default;
        }
      }
    }
  }

  @include link-list-on-hover-underline;
}
