.type-nav-secundair {
  margin-top: 2px;

  .links {
    margin-top: rem(18px);

    li a {
      @include avenirnextmedium;
      @include font-size(16);
      color: $color-superdarkgrey;

      &:hover {
        color: $color-red;
      }
    }
  }

  @include link-list-on-hover-underline;

  @media screen and (max-width: $grid-mq-medium) {
    display: none;
  }
}
