/**
*
* {{ properCase name }}
*
*/

import React from 'react';
// import styled from 'styled-components';

function {{ properCase name }}() {
  return (
    <div>
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
