.searchtag {
  background-color: $color-lightgrey;
  color: $color-black;
  float: left;
  font-weight: 700;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 8px 16px;
  text-decoration: none;
}
