@import "config.scss";

.highlight {
  &--active {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      bottom: 0;
      right: 0;
      background-color: #FEC813;
      opacity: 0;
      animation: highlight-fade-out 1.5s;
      z-index: 10;
    }
  }

  &__children {
    position: relative;
    z-index: 20;
  }

  @keyframes highlight-fade-out {
    from {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
