.invoer {
  select {
    @extend %regular-input-normal;
    @extend %icon-caret-down-black;
    @include avenirnext;
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background-position: calc(100% - 12px) 50%;
    background-repeat: no-repeat;
    background-size: 12px;

    &:focus,
    option {
      @extend %regular-input-focus;
    }

    &:focus:hover {
      @extend %icon-caret-up-black;
    }

    &[readonly],
    &[disabled] {
      @extend %disabled-input;
    }

    &[multiple] {
      background: none;
      overflow: hidden;

      &:focus:hover {
        background-image: none;
      }

      option {
        box-shadow: none;
      }
    }
  }
}

.row_ongeldig { // sass-lint:disable-line class-name-format
  .invoer select {
    @extend %invalid-input-normal;

    &:focus {
      @extend %invalid-input-focus;
    }
  }
}

.row_geldig { // sass-lint:disable-line class-name-format
  .invoer select {
    @extend %valid-input-normal;

    &:focus {
      @extend %valid-input-focus;
    }
  }
}

.mode_readonly { // sass-lint:disable-line class-name-format
  .invoer select {
    @extend %disabled-input;
  }
}

.formulier-horizontaal {
  .invoer select {
    margin-right: 20px;
  }
}
