.has_hero_image { // sass-lint:disable-line class-name-format
  position: relative;

  .grid-paginatitel,
  .grid-pagina,
  .margezone {
    .row {
      background-color: $color-white;
    }
  }

  .grid-paginatitel {
    margin-top: -(22px + 36px + 20px); // 36px ~= height of h1, 22px = margin-top of h1, 20px = margin-bottom of hero-image
  }
}

@media screen and (min-width: $grid-mq-medium + 1px) {
  .has_hero_image { // sass-lint:disable-line class-name-format
    .grid-paginatitel {
      > .row {
        box-shadow: 10px 0 0 0 $color-white, -10px 0 0 0 $color-white;
      }
    }
  }
}

@media screen and (max-width: $grid-mq-medium) {
  .has_hero_image { // sass-lint:disable-line class-name-format
    .z-hero-image .row {
      padding: 0 !important;

      img {
        height: auto !important;
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  }
}

@media screen and (min-width: $grid-mq-small + 1px) and (max-width: $grid-mq-medium) {
  .has_hero_image { // sass-lint:disable-line class-name-format
    .row:not(.z-hero-image) {
      padding: 0 25px;
    }

    .grid-paginatitel {
      > .row {
        box-shadow: 5px 0 0 0 $color-white, -5px 0 0 0 $color-white;
      }
    }
  }
}

@media screen and (max-width: $grid-mq-small) {
  .has_hero_image { // sass-lint:disable-line class-name-format
    .grid-paginatitel {
      margin-top: -28px;
    }
  }
}

