.outer-wrapper {
  background-color: $bodybg-grey;

  @media screen and (max-width: $grid-mq-medium) {
    background-color: $color-white;
  }
}


.grid-wrapper {
  background-color: $color-white;

  @media screen and (max-width: $grid-mq-medium) {
    max-width: 100%;
  }
}
