@import '~stijl/dist/scss/ams-colorpalette';
@import '~stijl/dist/scss/ams-breakpoints';

.header-component {
  .mainlogo {
    text-decoration: none;

    .logoset .screen-logo {
      width: 20px;
    }
  }

  .links {
    margin-top: 1.125rem;

    // TODO: remove this li {} block and uncomment the one below it once npm package stijl v2.9.2 available

    li {
      text-align: right;
    }
      /*
      li {
        text-align: left;

        @include media-breakpoint-up(sm) {
          text-align: right;
        }
      }
      */
  }
}
