@import "config.scss";

.incident-detail-page {
  min-height: 800px;

  .action-quad {
    background-color: $ams-wit;
    color: $ams-donkerantraciet;
    border-width: 1px;
    padding: 7px 12px;
    border-color: $ams-pinkish-grey;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    @include avenirnextdemi();
    line-height: 16px;
    margin: 6px 0 6px 8px;
    text-decoration: none;

    &:hover {
      background-color: $ams-lichtgrijs;
      border-color: $ams-zwart;
      color: $ams-zwart;
    }
  }

  .action.startagain {
    padding-left: 0;
  }

  &__tab-container {
    padding-top: 20px;
    min-height: 300px;
    border-top: 1px solid $ams-middendonkergrijs;
  }

  &__image--max-width {
    max-width: 100%;
  }
}
