.incident-detail-page {
  &__map{
    // border: 1 dotted lightgray;
    // background-color: floralwhite;
  }

  &__tab-container {
    padding-top: 20px;
    min-height: 300px;
    border-top: 1px solid grey;
  }

  &__image--max-width {
    max-width: 100%;
  }
}
