@import "config.scss";

.incident-detail-page {
  min-height: 800px;

  &__preview {
    position: relative;

    &-close {
      position: absolute;
      top: 10px;
      right: 25px;
      z-index: 10000;
    }
  }

  .action-quad {
    background-color: $ams-wit;
    color: $ams-donkerantraciet;
    border-width: 1px;
    padding: 7px 12px;
    border-color: $ams-pinkish-grey;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    @include avenirnextdemi();
    line-height: 16px;
    margin: 6px 0 6px 8px;
    text-decoration: none;

    &:hover {
      background-color: $ams-lichtgrijs;
      border-color: $ams-zwart;
      color: $ams-zwart;
    }
  }

  .action-button-edit {
    width: 32px;
    height: 32px;
    color: $ams-donkerantraciet;
    background-color: $ams-wit;
    border-width: 1px solid $ams-pinkish-grey;
    cursor: pointer;
    display: inline-block;
    background-image: url('../../../../shared/images/icon-edit.svg');
    background-position: 5px 5px;
    background-repeat: no-repeat;

    &:hover {
      background-color: $ams-lichtgrijs;
      border-color: $ams-zwart;
      color: $ams-zwart;
    }
  }

  .action-button-close {
    width: 32px;
    height: 32px;
    color: $ams-donkerantraciet;
    background-color: $ams-wit;
    border-width: 1px solid $ams-pinkish-grey;
    cursor: pointer;
    display: inline-block;
    // background-image: url('../../../../shared/images/icon-edit.svg');
    background-position: 5px 5px;
    background-repeat: no-repeat;

    &:hover {
      background-color: $ams-lichtgrijs;
      border-color: $ams-zwart;
      color: $ams-zwart;
    }
  }

  .action.startagain {
    padding-left: 0;
  }

  &__tab-container {
    padding-top: 20px;
    min-height: 300px;
    border-top: 1px solid $ams-middendonkergrijs;
  }

  &__image--max-width {
    max-width: 100%;
  }
}
