$definition-list-spacing: 10px;

dl {
  margin-bottom: $definition-list-spacing;

  dt {
    font-weight: 700;
  }

  dd + dt {
    margin-top: $definition-list-spacing;
  }

  &.horizontal,
  &.horizontal-largelabels,
  &.horizontal-largecontent {
    width: 100%;

    dt,
    dd {
      float: left;
      margin-top: $definition-list-spacing;
    }
  }

  &.horizontal {
    dt,
    dd {
      width: 50%;
    }
  }

  &.horizontal-largelabels {
    dt {
      width: (100% / 3 * 2);
    }

    dd {
      width: (100% / 3);
    }
  }

  &.horizontal-largecontent {
    dt {
      width: (100% / 3);
    }

    dd {
      width: (100% / 3 * 2);
    }
  }
}
