.inset {
  background-color: $color-lightgrey;
  display: inline-block;
  margin: 12px 0;
  padding: 20px;

  @media screen and (max-width: $grid-mq-small) {
    margin: 10px 0;
    padding: 10px;
  }
}
