$table-padding-big: 15px;
$table-padding-small: 10px;

* + .table-wrapper,
.table-wrapper + * {
  margin-top: 30px;
}

table {
  caption {
    border-bottom: 2px solid $color-lightgrey;
    padding: $table-padding-big;
    text-align: left;
    vertical-align: top;
  }

  thead tr {
    background-color: $color-white;
  }

  th,
  td {
    vertical-align: top;
  }

  th {
    font-weight: bold;
    padding: $table-padding-big;
    text-align: left;
  }

  tbody {
    td {
      padding: 6px $table-padding-big;
    }

    tr:nth-child(odd) {
      background-color: $color-lightgrey;
    }

    tr:nth-child(even) {
      background-color: $color-white;

      &:last-child td,
      &:last-child th {
        border-bottom: 2px solid $color-lightgrey;
      }
    }

    tr:last-child td {
      padding-bottom: $table-padding-big;
    }

    th ~ td {
      padding: $table-padding-big;
    }
  }
}

@media screen and (max-width: 539px) {
  table {
    caption {
      padding: $table-padding-small;
    }

    th {
      padding: $table-padding-small;
    }

    tbody {
      td {
        padding: 6px $table-padding-small;
      }

      tr:last-child td {
        padding-bottom: $table-padding-small;
      }

      th ~ td {
        padding: $table-padding-small;
      }
    }
  }
}
