.row {
  .label,
  label {
    @include avenirnextdemi;
    margin-bottom: 5px !important;

    .verplicht {
      color: $color-text-darkgrey;
      font-size: .85em;
    }
  }
}

.bg-lightgrey {
  .row {
    .label,
    label {
      .verplicht {
        color: $color-darkgrey;
      }
    }
  }
}

.mode_readonly { // sass-lint:disable-line class-name-format
  .label,
  label {
    color: $color-grey;
    cursor: default;
  }
}
