.alert-wrapper {
  padding-bottom: 10px;
  padding-top: 30px;

  a.sluitkruis {
    float: right;
    margin: 11px 20px 0 0;
  }

  .container {
    min-height: $rowheight;

    @media screen and (min-width: #{$grid-mq-medium + 1px}) {
      width: 940px;
    }

    .melding {
      @include avenirnext;
      float: left;
      font-size: rem(16);
      line-height: 1.5em;
      margin: 10px 0 10px 10px;
      width: calc(100% - 64px);

      p {
        margin-bottom: 0;
      }
    }
  }

  @each $name, $color in $colors {
    &.bg-#{$name} .container {
      @extend %bgcolor-#{$name};
      @include colors-on-bg($color);
      @if best-contrast-on($color) == #fff {
        .sluitkruis {
          @extend %icon-close-thick-white;
        }
      }
    }
  }
}
