.incident-preview {
  position: relative;

  &__section {
    border-top: 1px solid #e5e5e5;

    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .link-functional {
    float: none;
    position:  absolute;
    right: 0;
    margin: 14px 0;
  }
}
