.row.row-inline {
  > * {
    display: inline-block;
  }

  .element-set {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $grid-mq-small) {
    .row.row-inline > * {
      display: block;
    }
  }
}
