.handling-message {
  margin: 16px 0;

  &__box {
    &.citation,
    &.disclaimer {
      background-color: #e5e5e5;
      padding: 20px;
    }

    &.caution {
      border-left: 3px solid #ce0000;
      padding-left: 10px;
    }

    &-p {
      margin-bottom: 16px;
    }

    ul {
      padding: 0 0 0 26px;
      margin: 0;

      li {
        list-style-type: square;
      }
    }
  }
}
