.date-picker-input {
  width: 100%;

  &__control {
    margin-bottom: 16px;
  }

  .react-datepicker {
    &-wrapper {
      width: 100%;
    }

    &__input-container {
      width: 100%;
    }
  }
}
