.calendar_holder { // sass-lint:disable-line class-name-format
  background-color: $color-superlightgrey;
  margin: 15px 0;
}

.calendar {
  .navigatie {
    background-color: $color-darkgrey;
    padding-top: 10px;

    .vorige,
    .volgende {
      float: left;
      font-weight: bold;
      height: 20px;
      width: 50%;
    }

    .vorige a {
      background: url("#{$core-svg-path}caret-left-white.svg") no-repeat 0 5px;
      color: $color-white;
      margin-left: 10px;
      padding-left: 15px;
    }

    .volgende {
      text-align: right;

      a {
        background: url("#{$core-svg-path}caret-right-white.svg") no-repeat 100% 5px;
        color: $color-white;
        margin-right: 10px;
        padding-right: 15px;
      }
    }

    .maand {
      @include avenirnextdemi;
      color: $color-white;
      font-size: 1.2em;
      margin-top: 20px;
      padding: 10px 0 8px;
      text-align: center;

      a {
        color: $color-white;

        &:hover {
          color: $color-red;
        }
      }
    }
  }

  .kalender {
    padding: 5px;
    width: 100%;

    .week {
      background-color: $color-lightgrey;
    }

    caption {
      display: none;
    }

    tbody,
    thead {
      th {
        padding: 0;
      }

      td {
        line-height: 1.5em;
        padding: 2px;

        &.anderemaand {
          opacity: .25;
        }

        a {
          border: 1px solid $color-mediumdarkgrey;
          display: block;
          padding: 0 3px;
          text-decoration: none;

          &:hover {
            color: $color-red;
            text-decoration: underline;
          }

          &.selected {
            background-color: $color-red;
            color: $color-white;
          }
        }

        &.selected {
          background-color: transparent;

          a {
            background-color: $color-red;
            border-color: $color-red;
            color: $color-white;
          }
        }
      }
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      line-height: 1.818em;
      text-align: center;

      &.weeknummer {
        display: none;
      }

      a {
        color: $color-darkgrey;
        font-weight: bold;

        &.selected {
          color: $color-red;
          text-decoration: underline;
        }
      }

      &.hasevents {
        background-color: $color-text-mediumgrey;

        a {
          color: $color-white;
        }
      }

      &.selected {
        background-color: $color-red;

        a,
        a.selected {
          color: $color-white;
          text-decoration: underline;
        }
      }
    }
  }
}
