.incident-navigation {
  align-items: center;
  background-color: rgba(229, 229, 229, 1);
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  padding: 0 8px;

  &__button {
    align-self: center;
  }
}
