@media screen and (min-width: #{$grid-mq-medium + 1px}) {
  .formulier-horizontaal {
    margin-bottom: 20px;

    &.has-invalid-input {
      @include validation-border($color-red);
    }

    .row {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: baseline;

      &.row_ongeldig, // sass-lint:disable-line class-name-format
      &.row_geldig { // sass-lint:disable-line class-name-format
        border: 0;
        padding-left: 0;
      }

      & + .row {
        padding-left: 6px;
      }
    }

    .invoer {
      input {
        width: auto;
      }
    }

    input[type="submit"] {
      margin-left: 6px;
    }
  }
}
