$indicator-hider-height: 11em;

.progress-indicator,
.progress-indicator::after,
.progress-indicator::before {
  border-radius: 50%;
}

.progress-indicator {
  box-shadow: inset 0 0 0 1em;
  color: $color-white;
  display: inline-block;
  font-size: 8px;
  height: 10em;
  position: relative;
  text-indent: -99999em;
  transform: translateZ(0);
  vertical-align: middle;
  width: 10em;

  &.progress-blue {
    color: $color-darkblue !important;
  }

  &.progress-red {
    color: $color-red !important;
  }

  &.progress-black {
    color: $color-black !important;
  }

  &.progress-white {
    color: $color-white !important;
  }
}

.progress-indicator::after,
.progress-indicator::before {
  content: "";
  position: absolute;
}

.progress-indicator::before {
  animation: load2 1.5s infinite ease 1.2s;
  background-color: $color-white;
  border-radius: $indicator-hider-height 0 0 $indicator-hider-height;
  height: $indicator-hider-height;
  left: -.5em;
  top: -.5em;
  transform-origin: 5.3em #{$indicator-hider-height / 2};
  width: 5.2em;
}

.progress-indicator::after {
  animation: load2 1.5s infinite ease;
  background-color: $color-white;
  border-radius: 0 $indicator-hider-height $indicator-hider-height 0;
  height: $indicator-hider-height;
  left: 5.3em;
  top: -.3em;
  transform-origin: -.1em #{$indicator-hider-height / 2};
  width: 5.6em;
}

.primary {
  .progress-indicator::before,
  .progress-indicator::after {
    background-color: $color-red;
  }

  &:hover:enabled {
    .progress-indicator::before,
    .progress-indicator::after {
      background-color: darken($color-red, 10%);
    }
  }
}

.secundary-blue {
  .progress-indicator::before,
  .progress-indicator::after {
    background-color: $color-darkblue;
  }

  &:hover:enabled {
    .progress-indicator::before,
    .progress-indicator::after {
      background-color: darken($color-darkblue, 10%);
    }
  }
}

.secundary-grey {
  .progress-indicator::before,
  .progress-indicator::after {
    background-color: $color-lightgrey;
  }

  &:hover:enabled {
    .progress-indicator::before,
    .progress-indicator::after {
      background-color: darken($color-lightgrey, 10%);
    }
  }
}

.tertiair {
  .progress-indicator::before,
  .progress-indicator::after {
    background-color: $color-white;
  }

  &:hover:enabled {
    .progress-indicator::before,
    .progress-indicator::after {
      background-color: $buttonbg-tertiair-hover;
    }
  }
}

@-webkit-keyframes load2 { // sass-lint:disable-line no-vendor-prefixes
  0% {
    -webkit-transform: rotate(0deg); // sass-lint:disable-line no-vendor-prefixes
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg); // sass-lint:disable-line no-vendor-prefixes
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg); // sass-lint:disable-line no-vendor-prefixes
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg); // sass-lint:disable-line no-vendor-prefixes
    transform: rotate(360deg);
  }
}
