.antwoorden {
  ul {
    margin-left: 0;

    li {
      @include avenirnextdemi;
      list-style: none;
      padding-left: 26px;
      text-indent: -26px;

      &::before {
        @extend %icon-check-blue;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 12px;
        margin-right: 10px;
        width: 16px;
      }
    }
  }
}

@media screen and (max-width: $grid-mq-small) {
  .antwoorden {
    ul {
      width: 100%;
    }
  }
}
