@import "config.scss";

.header {
  &__label {
    @include avenirnextdemi();
    margin-bottom: 10px;
  }

  &__subtitle {
    color: #767676;
    margin-top: -5px;
    margin-bottom: 8px;
  }

  &--not-required {
    @include avenirnext();
    margin-left: 8px;
  }

  &__errors {
    &__item {
      color: #ec0000;
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  &--invalid {
    border-left: #ec0000 2px solid;
    padding-left: 12px;
  }
}
