@import "config.scss";

.notes {
  &__form {
    &-submit {
      // display: inline-block;
      width: 30%;
      float: right;
    }
    &-input {
      display: inline-block;
      width: 70%;
    }
  }

  &__item {
    &-header, &-body {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 32px;
    }

    &-header {
      width: 100%;
      color: $ams-donkergrijs;
      margin-bottom: 6px;

      &-when {
        margin-right: 12px;
      }
    }
  }
}
