.startagain {
  @include avenirnextdemi;
  color: $color-darkblue;
  text-decoration: none;

  &::before {
    @extend %icon-caret-left-blue;
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 7px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 3px;
    width: 12px;
  }

  &:hover {
    color: $color-red;

    &::before {
      @extend %icon-caret-left-red;
    }
  }

  &.primary {
    &,
    &:hover {
      &::before {
        @extend %icon-caret-left-white;
      }
    }
  }
}

button.startagain {
  -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  appearance: none;
  background: none;
  border-style: none;
  float: left;
  font-size: 1em;
  margin: 6px 0;
  padding: 11px 0;
}
