@import "config.scss";

.incident-form {
  .row + .row {
    margin-top: 20px;
  }

  .row {
    margin-top: 20px;
  }

  .field--invalid {
    border-left: $ams-rood 2px solid;
    padding-left: 12px;
  }
}
