.switch {
  border: 1px solid $color-text-mediumgrey;
  display: inline-block;
  padding: 6px 10px;
  position: relative;

  .switch-label {
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0 0 10px 36px;
    position: relative;
  }

  .switch-label::before,
  .switch-label::after {
    content: "";
    top: 50%;
    transform: translate(0, -50%);
    transition: all .3s ease;
  }

  .switch-label::before {
    background-color: $color-text-mediumgrey;
    box-shadow: none !important;
    height: 22px;
    left: 1px;
    width: 35px;
  }

  .switch-label::after {
    background-color: $color-superlightgrey;
    border: 0;
    height: 16px;
    left: 4px;
    opacity: 1;
    width: 16px;
  }

  .switch-input:checked {
    &,
    &:focus {
      + .switch-label::before {
        background-color: $color-darkblue;
        box-shadow: none;
      }
    }
  }

  .switch-input:checked + .switch-label::after {
    background-color: $color-white;
    transform: translate(80%, -50%);
  }
}
