@import "config.scss";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include avenirnext();
  font-size: 16px;
}

ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

dd {
  margin: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

#app {
  min-height: 100%;
  min-width: 100%;
  background-color: $ams-background-sidebars;

  .content.container {
    padding-bottom: 20px;
    min-height: 60vh;
    margin-top: 20px;
  }

  .app-container {
    padding: 0;
    background-color: $ams-wit;
    overflow-x: hidden;
  }
}


@media print {
  html, body {height: 100%;}

  @page {
    size: A4;
    margin-left: 1cm;
    margin-right: 1cm;
  }

  // Reset the flex model to allow printig on more than one page
  .row {
    display: block;
  }

  .no-print {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }

}
