@import "config.scss";

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
}

body {
  @include avenirnext();
  font-size: 1rem;
  line-height: 22px;
  overflow-y: scroll;
}

ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

h1 {
  @include avenirnextdemi();
  font-size: 30px;
  line-height: 38px;
  font-weight: normal !important;
}
h2 {
  @include avenirnextdemi();
  font-size: 24px;
  line-height: 30px;
  font-weight: normal !important;
}
h3 {
  @include avenirnextdemi();
  font-size: 20px;
  line-height: 28px;
  font-weight: normal !important;
}
h4 {
  @include avenirnextdemi();
  font-size: 18px;
  line-height: 25px;
  font-weight: normal !important;
}

dd {
  margin: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

#app {
  min-height: 100%;
  min-width: 100%;
  background-color: $ams-background-sidebars;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .app-container {
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: $ams-wit;
    flex: 1 0 auto;
    width: 100%;
    z-index: 0;
  }

  #header, .app-container {
    max-width: 1400px;
  }
}

.siteHeader.isShort + .app-container {
  padding-top: 50px;
}

[aria-hidden="true"] {
  display: none !important;
}

@media print {
  html, body {height: 100%;}

  @page {
    size: A4;
    margin-left: 1cm;
    margin-right: 1cm;
  }

  // Reset the flex model to allow printig on more than one page
  .row {
    display: block;
  }

  .no-print {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }

}
