@import "config.scss";

.default-texts {
  &__wrapper {
    background-color: #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__title {

  }

  &__text {

  }

  &__button {
    padding: 0;
    margin: 10px 0 0 0;
    border-style: none;
    text-decoration: underline;
    color: $ams-blauw;
    font-size: 16px;
    background-color: transparent;
  }
}
