// Sprites
////
.more-link {
  @include avenirnextdemi;
  display: inline-block;
  margin: 10px 0 0;
  padding-left: 15px;
  text-decoration: none;

  &,
  &:visited {
    background: url("#{$core-svg-path}caret-right-black.svg") no-repeat 0 5px;
    color: $color-black;
  }

  &:active,
  &:hover {
    background: url("#{$core-svg-path}caret-right-red.svg") no-repeat 0 5px;
    color: $color-red;
    text-decoration: underline;
  }
}

ul.links + .more-link {
  margin: 0;
}

*[class*="col"].hasbgcolor {
  .more-link {
    margin-left: 10px;
  }
}

@mixin bigplus-on-bg($color) {
  .more-link {
    @if best-contrast-on($color) == #fff {
      &,
      &:active,
      &:hover,
      &:visited {
        @extend %icon-caret-right-white;
        @extend %light-color-on-bg;
      }
    }
    @else {
      &:hover,
      &:active {
        @extend %icon-caret-right-red;
        color: $color-red;
      }

      &,
      &:visited {
        @extend %icon-caret-right-black;
        @extend %dark-color-on-bg;
      }
    }
  }
}

@each $name, $color in $colors {
  .row.bg-#{$name} {
    @include bigplus-on-bg($color);
  }

  *[class*="col"].bg-#{$name} *[class*="col"] {
    @include bigplus-on-bg($color);
  }
}
