.dashboard {
  position: relative;

  .select-input {
    position: absolute;
    top: 17px;
    right: 0;
    width: auto;

    select {
      width: 200px !important;
    }
  }

  .dashboard-charts {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    .status-chart {
      width: 400px;
    }

    .category-chart {
      width: 582px;
    }

    .today-chart {
      width: 300px;
    }

    .hour-chart {
      margin-left: 50px;
      width: 643px;
    }
  }
}
