.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  .status-chart {
    width: 400px;
  }

  .category-chart {
    width: 582px;
  }

  .today-chart {
    width: 300px;
  }

  .hour-chart {
    margin-left: 50px;
    width: 643px;
  }
}
