@import "config.scss";

$boxSize: 100px;
$borderWidth: 1px;
$iconSize: 43px;
$iconLoadingSize: 40px;


.file-input {
  display: flex;
  height: calc(#{$boxSize} + (2 * #{$borderWidth}));

  &__preview {
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    margin-right: 10px;

    &--loading {
      border: 1px solid #bebebe;

      .progress-indicator {
        font-size: 4px !important;
        top: calc((#{$boxSize} - #{$iconLoadingSize}) / 2);
        left: calc((#{$boxSize} - #{$iconLoadingSize}) / 2);
        }
    }

    &-button-delete {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 0;
      right: 0;
      cursor: pointer;
      border-style: none;
      background-image: url("../../../../../shared/images/icon-trash.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 10px;
      background-color: rgba(0,0,0,0.5);

      &:hover {
        background-color: black;
      }
    }

    &-image {
      position: relative;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__button {
    border: 1px dashed #bebebe;
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    margin-right: 10px;

    input[type=file] {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      height: 100%;
      width: 100%;

      &:hover  {
        .file-input__button-label-icon {
          border-width: 2px;
        }
      }

      &-icon {
        position: absolute;
        top: calc((#{$boxSize} - #{$iconSize}) / 2);
        left: calc((#{$boxSize} - #{$iconSize}) / 2);
        width: $iconSize;
        height: $iconSize;
        border-radius: 50%;
        border: 1px solid black;
        cursor: pointer;
        background-image: url("../../../../../shared/images/icon-plus-donkerblauw.svg");
        border-color: #004699;
      }
    }
  }

  &__empty {
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    border: 1px dashed #bebebe;
    margin-right: 10px;
  }
}
