@import "config.scss";

$boxSize: 100px;
$borderWidth: 1px;
$iconSize: 43px;
$iconLoadingSize: 40px;


.file-input {
  display: flex;
  height: calc(#{$boxSize} + (2 * #{$borderWidth}));

  &__preview {
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    margin-right: 10px;

    &--loading {
      border: 1px solid $ams-middengrijs;

      .progress-indicator {
        font-size: 4px !important;
        top: calc((#{$boxSize} - #{$iconLoadingSize}) / 2);
        left: calc((#{$boxSize} - #{$iconLoadingSize}) / 2);
        }
    }

    &-button-delete {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 0;
      right: 0;
      border-style: none;
      background-image: url("../../../../../shared/images/icon-trash.svg");
      background-size: 27px;
      background-repeat: no-repeat;
      background-position: 6px 6px;
      background-color: rgba(0,0,0,0.5) !important;
    }

    &-image {
      position: relative;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__button {
    position: relative;
    border: 1px dashed $ams-middengrijs;
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    margin-right: 10px;

    input[type=file] {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-icon {
      position: absolute;
      top: calc((#{$boxSize} - #{$iconSize}) / 2);
      left: calc((#{$boxSize} - #{$iconSize}) / 2);
      width: $iconSize;
      height: $iconSize;
      border-radius: 50%;
      border: 1px solid black;
      cursor: pointer;
      background-image: url("../../../../../shared/images/icon-plus-donkerblauw.svg");
      border-color: $ams-donkerblauw;
    }

    &-label {
      display: inline-block;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }

  &__empty {
    width: calc(#{$boxSize} + (2 * #{$borderWidth}));
    border: 1px dashed $ams-middengrijs;
    margin-right: 10px;
  }

  &__error {
    color: red;
    margin: 15px 0 0;
  }
}
