@import "config.scss";

.image-viewer {
  position: relative;
  padding-top: 10px;
  text-align: center;

  &__image {
    max-height: 722px;
  }

  &__button-previous {
    position: absolute;
    left: 10px;
    top: calc(50% - 16px);
  }

  &__button-next {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
  }
}
