.horizontal {
  float: left;
  margin: 0;

  li {
    clear: none !important;
    float: left;
    margin: 0 20px 0 0;

    li {
      float: none;
    }
  }

  &.right {
    float: right;

    li {
      margin-left: 20px;
      margin-right: 0;
      padding-right: 0;
      padding-top: 0;

      &:last-child {
        margin-right: 0;
      }
    }

  }

  a:hover {
    color: $color-red;
  }
}
