name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  TZ: 'Europe/Amsterdam'
  CI: 'true'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job: [lint, test, validate-config, build]

    steps:
      - uses: actions/checkout@v2

      - name: Cache .npm
        uses: actions/cache@v1
        env:
          cache-name: cache-dot-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}

      - name: Setup Node 18
        uses: actions/setup-node@v2
        with:
          node-version: '18.13'
          check-latest: true

      - name: Install dependencies
        run: npm ci

      - name: Run ${{ matrix.job }}
        run: npm run ${{ matrix.job }}

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: matrix.job == 'test'
        with:
          name: coverage-report
          path: coverage/
