.kto-form {
  flex-basis: 100%;

  .row + .row {
    margin-top: 20px !important;
  }

  .row {
    margin-top: 20px !important;
  }

  &--collapse-to-previous-question {
    margin-top: -30px;
  }

  &__submit {
    margin-top: 24px !important;
  }
}
