@import "config.scss";

.location-preview {
  position: relative;

  &__button-edit {
    position: absolute !important;
    margin: 0  !important;
    top: 10px;
    left: 10px;
    z-index: 500;
  }
}
